/*.navbar {
  padding: 10px;
  background: #46c7c7;
  color: white;
}*/

h1 {
    color: #46c7c7;
  }

h2 {
   color: white;
   background-color: #46c7c7;
   font-size: 25px;
  }  

h3 {
    text-align: center;
    color: #46c7c7;
}
  
.box-1 {
  background: #46c7c7;
  color: white;
}
body {background: #b3b2b2;}

.white{background: white;}

.table thead th {
  text-align: left;
}


